{
    "providers": {
        "mainnet": "https://eth.llamarpc.com",
        "zkevm": "https://zkevm-rpc.com",
        "optimism": "https://mainnet.optimism.io",
        "arbitrum": "https://arb1.arbitrum.io/rpc"
    },

    "contracts": {
        "mainnet": "0x85e99425ad47f5534684888F9726fabDb11969F2",
        "zkevm": "",
        "optimism": "",
        "arbitrum": ""
    }

}