{
    "providers": {
        "mainnet": "https://eth.llamarpc.com",
        "zkevm": "https://zkevm-rpc.com",
        "optimism": "https://mainnet.optimism.io",
        "arbitrum": "https://arb1.arbitrum.io/rpc"
    }
}